*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
html , body{
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #222;
    margin: 0;
}

.piano-container {
    display: flex;
    background-color: #111;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
    position: relative;
}

.key {
    position: relative;
    cursor: pointer;
    border-radius: 0 0 5px 5px;
    user-select: none;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 10px;
    transition: all 0.1s ease;
}

.white {
    width: 70px;
    height: 200px;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1;
    color: #333;
}

.white:active, .white.active {
    background-color: #eee;
    transform: scale(0.99);
    border-bottom: 5px solid #ddd;
}

.black {
    width: 40px;
    height: 120px;
    background-color: black;
    color: white;
    z-index: 2;

    margin-left: -20px;
    margin-right: -20px;
    
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

.black:active, .black.active {
    background-color: #333;
    border-bottom: 2px solid #222;
}

.note-name {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 2px;
}

.key-bind {
    font-size: 12px;
}

.black .note-name {
    font-size: 13px; 
}
.black .key-bind {
    font-size: 12px;
    opacity: 0.6;
}